
  /* intro section */

  .black-overlay{
    height: 85vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
  /* end of intro */

  /* freelancing section */
  .box-container{
    display: flex;
    flex-direction:column;
  }
  
  .box-top{
    width: min(75vw,555px);
    border-radius: 20px 20px 0 0;
    height: 35px;
    background-color: #4682C2;
    position: relative;
    top: 5px;
  }
  
  .box{
    width: min(75vw,555px);
    height: fit-content;
    border: 5px solid #4682C2;
  }
  
  /* end of freelancing section */